body {
    background-image: url("vaca.jpg");
    color: #e47777;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99% 110%;
    background-attachment: fixed;

}

